---
const title = "Motion Energy - Alivio para las Articulaciones";
---

<head>
  <title>{title}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="font-sans text-gray-800 lg:overflow-hidden">
  <header
    class="absolute bg-gradient-to-r w-full from-blue-500 to-indigo-700 text-white p-6 top-0"
  >
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold">Motion Energy</h1>
      <p class="text-lg">¡Alivio para tus articulaciones!</p>
    </div>
  </header>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 h-screen bg-no-repeat bg-cover bg-center bg-"
    style="background-image: url('motion-energy-product.avif');"
  >
    <section
      class="main-content text-gray-700 lg:text-white bg-gray-400 lg:bg-black lg:bg-opacity-70 mt-28 flex flex-col text-center justify-center p-8"
    >
      <h2 class="text-3xl mb-4 font-bold">Descubre Motion Energy</h2>
      <p class="text-md leading-relaxed text-justify">
        Motion Energy es un revolucionario suplemento diseñado para proporcionar
        alivio efectivo y rápido para el dolor articular, permitiéndote
        recuperar la movilidad y disfrutar de una vida sin limitaciones.
        Desarrollado con una fórmula natural respaldada por la ciencia, Motion
        Energy ha demostrado brindar resultados maravillosos a nivel mundial,
        ganándose la confianza y satisfacción de miles de usuarios.<br /><br /> Con Motion
        Energy, puedes despedirte del dolor articular y mejorar tu calidad de vida.
        Nuestra fórmula única actúa de manera rápida y efectiva para aliviar el malestar,
        promoviendo la flexibilidad y movilidad de tus articulaciones. Además, al
        ser una solución natural, Motion Energy no presenta efectos secundarios no
        deseados, proporcionándote una alternativa segura y confiable.
      </p>
    </section>

    <section
      class="benefitstext-gray-700 lg:text-white bg-gray-400 lg:bg-black lg:bg-opacity-70 lg:mt-28 flex flex-col text-center justify-center"
    >
      <h2 class="text-2xl mb-2 font-bold">Beneficios Clave</h2>
      <ul class="list-disc list-inside text-start p-8">
        <li class="mb-2">Alivio rápido y efectivo del dolor.</li>
        <li class="mb-2">Mejora la movilidad y flexibilidad.</li>
        <li>Fórmula natural sin efectos secundarios.</li>
      </ul>
    </section>

    <section
      class="special-offer text-gray-700 lg:text-white bg-gray-400 lg:bg-black lg:bg-opacity-70 flex flex-col text-center justify-center items-center p-8"
    >
      <h2 class="text-2xl mb-2 font-bold">Oferta Especial</h2>
      <p class="mb-4">
        Aprovecha nuestro descuento exclusivo para nuevos clientes y da el
        primer paso hacia una vida sin dolor.
      </p>
      <a
        href="/comprar"
        class="btn bg-blue-500 w-max text-white py-2 px-8 rounded-full hover:bg-blue-700 transition duration-300"
        >Comprar Ahora</a
      >
    </section>
  </div>
</body>
